!./bin
!./data/pasteData
!./data/pasteData_dev
!./tmp
!./data/redis_data
!./data/redis_data_dev

data/pasteData/*
data/pasteData_dev/*
data/redis_data/*
data/redis_data_dev/*
bin/*
tmp/*
.null*
.env*
dump.rdb
*.log
testcover.out
testcover.html
.DS_Store
data/paste_data_dev/*
